{
  "env": {
    "development": {
      "presets": ["es2015", "next/babel"]
    },
    "production": {
      "presets": ["es2015", "next/babel"]
    },
    "test": {
      "presets": [["next/babel", { "preset-env": { "modules": "commonjs" } }]]
    }
  },
  "plugins": [
    "inline-react-svg",
    "transform-decorators"
  ]
}
